config.json
plugins.json
plugin_profiles/
oauth_twitch.json
oauth_youtube.json
.tio.tokens.json
secret.txt
QUEUE
CURRENT
NEXT
*.part
*.ytdl
__pycache__/
.venv/
.vscode/
thumbnails/
sounds/

png_binds.json
pngbinds-media/
pngbinds_media.json


#Exclude non-builtin plugins
plugins/*
!plugins/songqueue/
!plugins/soundreq/
!plugins/pngbinds/