config.json
plugins.json
oauth_twitch.json
oauth_youtube.json
secret.txt
QUEUE
CURRENT
NEXT
__pycache__/
.vscode/
thumbnails/
sounds/

#Exclude non-builtin plugins
plugins/*
!plugins/songqueue/
!plugins/soundreq/
!plugins/pngbinds/