aiohttp
#audioop-lts #uncomment for 3.13+
Flask
flask-sock
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
keyboard
MarkupSafe
PyAudio
python-vlc
requests
twitchio
twitchio[starlette]
websocket-client
yt-dlp
