.body-contents {
    display: flex;
    flex-direction: column;
}

.queue-controls {
    margin-bottom: 1rem;
}

a.title {
    width: fit-content;
    text-decoration: none;
    color: var(--color-fg);
    border-bottom: 1px dashed var(--color-fg);
}

#view-queue-file {
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;
}

#pauseplay-song, #skip-song {
    background-color: transparent;
    border: none;
}

#pauseplay-song:disabled, #skip-song:disabled {
    filter: invert(50%);
}

#pauseplay-song.pause img {
    content: url(/static/img/pause.svg);
    width: 32px;
    aspect-ratio: 1/1;
    filter: invert(100%);
}

#pauseplay-song.play img {
    content: url(/static/img/play.svg);
    width: 32px;
    aspect-ratio: 1/1;
    filter: invert(100%);
}

#skip-song img {
    content: url(/static/img/forward.svg);
    width: 32px;
    aspect-ratio: 1/1;
    filter: invert(100%);
}

@media screen and (min-width: 450px) {
    .body-contents {
        align-items: center;
    }
}

#current-container {
    display: flex;
    flex-direction: row;
}

#current-song {
    width: 50vw;
}

#current-song .icon {
    max-width: 150px;
    max-height: 150px;
}

#current-song .progress {
    width: 98%;
    margin-top: 0.5rem;
}

#current-song .title {
    margin: 0.5rem 0;
}

#next-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    visibility: hidden;
}

#next-container hr {
    width: calc(70px + 2rem);
}

#next-container[song-id] {
    visibility: visible;
}

#next-song {
    width: 100%;
    margin-bottom: 3rem;
}

.item > .container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.item .marker {
    flex-grow: 0.2;
    flex-basis: 0;
}

.item .title {
    margin: 0 1rem;
}

.item .icon {
    max-width: 100px;
    max-height: 100px;
    margin-right: auto;
}

#queue-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#queue-container > .item {
    margin-bottom: 1rem;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--color-fg2);
    }
    
    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: var(--color-fg);
        margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
        width: 9px;
        -webkit-appearance: none;
        height: 10px;
        cursor: pointer;
        background: #fff;
        box-shadow: -2000px 0 0 2000px var(--color-fg);
    }

}
/** FF*/
input[type="range"] {
    height: 9px;
}
input[type="range"]::-moz-range-thumb {
    border-radius: 0;
    border: none;
    cursor: pointer;
    background: #fff;
    height: 9px;
    width: 9px;
}
input[type="range"]::-moz-range-progress {
    background-color: var(--color-fg); 
    height: 9px;
}
input[type="range"]::-moz-range-track {  
    background-color: var(--color-fg2);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: var(--color-fg);
}
input[type="range"]::-ms-fill-upper {  
    background-color: var(--color-fg2);
}