{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/music.css">
{% endblock %}
{% block scripts %}
<script src="/static/js/music.js"></script>
{% endblock %}
{% block body %}
<h1>Music Queue Controller</h1>
<h2>Overlay</h2>
<div id="overlay-controls">
    <button id="enable-ovpersist-button">Enable Persistence</button>
    <button id="disable-ovpersist-button">Disable Persistence</button>
</div>

<h2>Queue</h2>
<div id="current-container">
    <div id="current-song">
    </div>
    <button id="pauseplay-song" class="pause"><img></button>
    <button id="skip-song"><img></button>
</div>

<div id="next-container">
    <b>Up Next</b>
    <hr>
    <div id="next-song" class="item">
    </div>
</div>

<div id="queue-container">
</div>
{% endblock %}