<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/overlay.css">
        {% block styles %}
        {% endblock %}
        <!-- <script src="/static/js/overlay.js"></script> -->
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="body-contents">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>